body{
    background-color: #3f656f;
    margin : 0;
}

header{
    background-color: snow;
    display: flex;
    padding: 20px;
    margin-bottom: 30px;
}

.foto{
    width: 125px;
}

.nama{
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: grid;
    margin: auto;
    grid-template-areas: "education experience skill";
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.education{
    grid-area: education;
    background-color: #b1d2da;
}
.experience{
    grid-area: experience;
    background-color: #b1d2da;
}
.skill{
    grid-area: skill;
    background-color: #b1d2da;
}

h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    text-align: center;
    background-color: snow;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon{
    width: 50px;
}

.icon:hover{
    width: 70px;
}